*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$mainBlack:#262626;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;

body {
  font-family: 'Open Sans', sans-serif;
  background: $mainGrey;
}
